.Layout {
    display: flex;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, minmax(0, 1fr));
}

.layout-sidebar{
    background-color: #19183C;
    grid-column: span 1;
}

.layout-content {
    grid-column: span 7;
    min-height: 0;
    display: flex;
    flex-direction: column;
}