$mobile-screen: 600px;
$tablet: 767px;
$small-screen: 1024px;
$desktop: 1200px;
$large-screen: 1440px;
$large-desktop: 1920px;

.logout-btn {
    border: 1px solid #3AFFA9;
    background-color: transparent;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 4rem;
    border-radius: 0.5rem;
    transition: all 0.3s ease;

    &:hover {
        transition: all 0.3s ease;
        background-color: #3AFFA9;
        color: black;
    }
}

@media (max-width: $large-desktop) {
    .logout-btn {
        padding: 0.8rem 3rem;
        font-size: 0.9rem;
    }
}

@media (max-width: $large-screen) {
    .logout-btn {
        padding: 0.8rem 0;
        width: 100%;
        max-width: 100px;
        font-size: 0.8rem;
    }
}