.Navbar {
    color: white;
    padding: 2rem 1.5rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.navbar-top {
    display: flex;
    flex-direction: column;
    gap: 4rem;
}

.navbar-logo {
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 0.02em;
}

.navbar-links {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.link {
    color: rgba($color: #FFFFFF, $alpha: 0.72);
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 0.6rem 0.7rem;
    border-radius: 0.6rem;
    transition: all 0.2s ease;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.link:hover {
    color: white;
    background-color: #323072;
}

.link.active {
    color: #3AFFA9;
    background-color: #323072;
    font-weight: 600;
    border-left: 2px solid #3AFFA9;
}

.navbar-bottom {
    display: flex;
    justify-content: center;
}