$mobile-screen: 600px;
$tablet: 767px;
$small-screen: 1024px;
$desktop: 1200px;
$large-screen: 1440px;
$large-desktop: 1920px;

.Overview {
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.overview-header {
    background-color: #19183C;
    padding: 1.5rem;
}

.overview-content {
    background-color: #323072;
    flex: 1;
    min-height: 0;
    border-top-left-radius: 2rem;
    padding: 2rem;
}

.overview-grid {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;
}

.overview-quick-look {
    display: flex;
    flex-direction: column;
    min-height: 0;
    gap: 0.75rem;
    overflow: hidden;

    .overview-cards {
        display: flex;
        gap: 0.75rem;
        color: black;
        flex-shrink: 0;

        .overview-card {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            flex: 1;
            border-radius: 0.5rem;
            padding: 1.5rem;

            .card-value {
                font-size: 2.5rem;
                font-weight: 600;
            }
        }

        .overview-card--balance {
            background-color: #4756FF;
        }

        .overview-card--expenses {
            background-color: #3AFFA9;
        }

        .overview-card--income {
            background-color: #43FFE9;
        }
    }

    .overview-spending-graph {
        flex: 1;
        min-height: 0;
        display: flex;
        flex-direction: column;
        gap: 0.75rem;
        background-color: #19183C;
        border-radius: 1rem;
        padding: 1.5rem;

        .overview-spending-header {
            display: flex;
            justify-content: space-between;
            margin-bottom: 2rem;

            .spending-left {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                p {
                    font-size: 1.5rem;
                    font-weight: 600;
                }
            }

            .spending-right {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                p {
                    color: #FF124E;
                    font-weight: 600;
                }
            }

        }

        .overview-spending-bar-chart {
            flex: 1;
            min-height: 0;
        }
    }
}

.overview-spending-habits {
    display: flex;
    flex-direction: column;
    min-height: 0;
    background-color: #19183C;
    border-radius: 0.5rem;
    padding: 1.5rem;
    overflow: hidden;

    .spending-habits-header {
        font-size: 1.5rem;
        font-weight: 600;
        flex-shrink: 0;
        margin-bottom: 4rem;
    }

    .spending-bar-chart {
        flex: 1;
        min-height: 0;
    }
}

.overview-distribution {
    background-color: #19183C;
    border-radius: 1rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;

    .overview-distribution-header {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 3rem;
        flex-shrink: 0;
    }


}

.overview-entries {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.75rem;

    .entry-box {
        display: flex;
        flex-direction: column;
        min-height: 0;
        overflow: hidden;
        background-color: #19183C;
        border-radius: 1rem;
        padding: 1.5rem;

        .entry-header {
            font-size: 1.5rem;
            font-weight: 600;
            flex-shrink: 0;
            margin-bottom: 4rem;
        }

        .entry-types {
            display: flex;
            flex-direction: column;
            flex: 1;
            min-height: 0;
            gap: 0.75rem;

            overflow-y: auto;
            padding-right: 0.5rem;
            scrollbar-gutter: stable;

            &::-webkit-scrollbar {
                width: 0.5rem;
            }

            &::-webkit-scrollbar-track {
                background: transparent;
            }

            &::-webkit-scrollbar-thumb {
                background-color: #323072;
                border-radius: 10px;
            }

            .entry-type {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.75rem;
                border-radius: 0.5rem;
                background-color: #323072;

                div {
                    display: flex;
                    flex-direction: column;
                    gap: 0.25rem;

                    .entry-name {
                        font-size: 1.5rem;
                        font-weight: 600;
                    }

                    .entry-date {
                        font-size: 0.875rem;
                        color: #A0A0A0;
                    }
                }

                .entry-amount {
                    font-size: 1.25rem;
                    // font-weight: 600;
                    padding: 0.75rem 1rem;
                    border-radius: 0.5rem;
                    // background-color: #C0FFC0;
                    // color: #00AF00;
                    width: 100px;
                    text-align: center;
                }

                .entry-amount--income {
                    background-color: #C0FFC0;
                    color: #007700;

                    &:hover {
                        background-color: #00AF00;
                        color: white;
                    }
                }

                .entry-amount--expenses {
                    background-color: #FFB3B3;
                    color: #FF0000;

                    &:hover {
                        background-color: #FF0000;
                        color: white;
                    }
                }
            }
        }
    }
}




@media (max-width: $large-desktop) {
    .overview-quick-look {
        .overview-cards {
            .overview-card {
                .card-value {
                    font-size: 2rem;
                }
            }
        }
    }

    .overview-entries {
        .entry-box {
            .entry-header {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .entry-types {
                .entry-type {
                    div {
                        .entry-name {
                            font-size: 1rem;
                            font-weight: 600;
                        }

                        .entry-date {
                            font-size: 0.875rem;
                        }
                    }

                    .entry-amount {
                        font-size: 0.875rem;
                        padding: 0.75rem;
                        width: 70px;
                    }
                }
            }
        }
    }
}

@media (max-width: $large-screen) {
    .overview-quick-look {
        .overview-cards {
            .overview-card {
                .card-value {
                    font-size: 1.8rem;
                }
                .card-header {
                    font-size: 0.8rem;
                }
                .card-change {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .overview-entries {
        .entry-box {
            .entry-header {
                font-size: 1.4rem;
                font-weight: 600;
            }

            .entry-types {
                .entry-type {
                    div {
                        .entry-name {
                            font-size: 1rem;
                            font-weight: 600;
                        }

                        .entry-date {
                            font-size: 0.875rem;
                        }
                    }

                    .entry-amount {
                        font-size: 0.875rem;
                        padding: 0.75rem;
                        width: 70px;
                    }
                }
            }
        }
    }
}

@media (max-width: $desktop) {
    .overview-content {
        background-color: #323072;
        flex: 1;
        min-height: 0;
        overflow: hidden;
    }

    .overview-grid {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        grid-template-rows: repeat(4, minmax(500px, auto));
        height: 100%;
        min-height: 0;
        overflow-y: auto;
        gap: 0.75rem;
    }

    .overview-quick-look {
        .overview-cards {
            .overview-card {
                .card-value {
                    font-size: 2rem;
                }
            }
        }
    }

    .overview-entries {
        .entry-box {
            .entry-header {
                font-size: 1.5rem;
                font-weight: 600;
            }

            .entry-types {
                .entry-type {
                    div {
                        .entry-name {
                            font-size: 1.2rem;
                            font-weight: 600;
                        }

                        .entry-date {
                            font-size: 0.875rem;
                        }
                    }

                    .entry-amount {
                        font-size: 0.875rem;
                        padding: 0.75rem;
                        width: 80px;
                    }
                }
            }
        }
    }
}